.search .tex i::selection {
	background-color: rgba(13, 173, 81, 0.2);
	color: #333
}

::-moz-selection {
	background-color: rgba(13, 173, 81, 0.2);
	color: #333
}

::-webkit-selection {
	background-color: rgba(13, 173, 81, 0.2);
	color: #333
}

.dy {
	position: relative;
	top: 5px;
	display: inline-block;
	margin-right: 2px
}

.dy.no_f {
	top: 0
}

.dy.up_f {
	top: -4px
}

.dy .dy_tag {
	max-width: 52px !important;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 17px;
	line-height: 17px;
	text-align: center;
	border-radius: 2px;
	color: #9399a5 !important;
	background-color: #eff0f2;
	font-size: 11px;
	display: inline-block;
	margin-left: 4px !important
}

.dy .dy_tag.lj_tag {
	background-color: #00ae66;
	margin: 0 !important
}

.dy .dy_desc {
	display: none;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 157px;
	line-height: 16px;
	padding: 12px;
	box-sizing: border-box;
	font-size: 12px;
	color: #394043;
	position: absolute !important;
	top: 8px;
	left: 11px;
	z-index: 2;
	text-align: left;
	white-space: pre-wrap
}

.dy:hover .dy_desc {
	display: block
}

.dy .xiaowenhao {
	background-image: url('/feroot/pc/asset/img/xiaowenhao.png');
	display: inline-block;
	margin-left: 4px;
	width: 16px;
	height: 16px;
	background-size: 100% 100%;
	margin-right: 4px;
	position: relative;
	top: -1px
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
	.dy .xiaowenhao {
		background-image: url('/feroot/pc/asset/img/xiaowenhao@2x.png')
	}
}

.search {
	padding-bottom: 20px;
	position: relative
}

.search .tex {
	border: 2px solid #3fab6c;
	width: 580px;
	height: 46px;
	border-radius: 2px;
	position: relative;
	float: left
}

.search .tex i {
	background-image: -webkit-image-set(url(sprite@2x.png) 2x);
	background-position: -216px -3px;
	display: block;
	position: absolute;
	left: 13px;
	top: 14px;
	width: 19px;
	height: 19px
}

.search .tex input {
	float: left;
	width: 418px;
	border: 0;
	background: #fff;
	height: 46px;
	line-height: 46px;
	padding-left: 40px;
	color: #888
}

.search .tex div.sub {
	float: right;
	background: #3fab6c;
	width: 122px;
	height: 46px;
	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	line-height: 46px;
	cursor: pointer
}

.search .go {
	float: right;
	font-weight: bold
}

.search .go a {
	display: block;
	width: 94px;
	height: 50px;
	line-height: 50px;
	background: #f46a1f;
	border-radius: 2px;
	color: #fff;
	font-size: 18px;
	position: relative;
	padding-left: 55px
}

.search .go a:hover {
	text-decoration: none
}

.search .go a i {
	background-image: url(sprite.png);
	background-image: -webkit-image-set(url(sprite.png) 1x, url(sprite@2x.png) 2x);
	background-position: -216px -42px;
	display: block;
	width: 13px;
	height: 16px;
	float: left;
	position: absolute;
	top: 16px;
	left: 33px;
	margin-right: 10px
}

.search .hotsug {
	width: 458px;
	background: #fff;
	position: absolute;
	top: 47px;
	left: -2px;
	border: 1px solid #3fab6c;
	display: none;
	z-index: 3
}

.search .hotsug li {
	width: 458px;
	height: 42px;
	line-height: 42px
}

.search .hotsug li a {
	font-size: 14px;
	color: #333;
	display: block;
	height: 42px;
	padding: 0 12px;
	overflow: hidden
}

.search .hotsug li a:hover {
	text-decoration: none;
	background: #f1f1f1
}

.search .hotsug li a label {
	display: block;
	float: left;
	cursor: pointer;
	width: 350px;
	height: 42px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.search .hotsug li a label b {
	color: #e4393c
}

.search .hotsug li a span {
	float: right;
	cursor: pointer
}

.search .hotsug li.tip {
	background: #f2f4f7;
	color: #4a4a4b;
	font-size: 16px;
	padding: 0 12px;
	width: 434px
}

.wrapper {
	clear: both
}

body {
	background: #f1f1f1
}

body .min-left {
	width: 192px
}

body .min-left .fl-box {
	width: 192px;
	background: #fff;
	padding: 25px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px
}

body .min-left .fl-box .m-box a {
	text-decoration: none
}

body .min-left .fl-box .m-box b {
	color: #3fab6c;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 10px;
	display: block
}

body .min-left .fl-box .m-box b strong {
	font-weight: 700
}

body .min-left .fl-box .m-box ul {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 15px
}

body .min-left .fl-box .m-box li {
	float: left;
	margin-right: 15px;
	line-height: 22px
}

body .min-left .fl-box .m-box li a {
	color: #555;
	font-size: 12px
}

body .min-left .fl-box .last ul {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0
}

body .min-left .fl-box {
	position: relative
}

body .min-left .fl-box .title {
	padding: 0 0 20px
}

body .min-left .fl-box .btn-more {
	right: 25px;
	top: 25px
}

body .min-right {
	width: 745px
}

body .min-right .count {
	background: #fff;
	padding: 15px 25px;
	margin-bottom: 15px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)
}

body .min-right .count .name {
	font-size: 18px;
	border-bottom: 1px solid #eee;
	height: 50px;
	line-height: 50px
}

body .min-right .count .name .fl {
	color: #999;
	font-weight: bold;
	cursor: pointer;
	line-height: 34px
}

body .min-right .count .name .fl.active {
	color: #333
}

body .min-right .count .name .reply {
	margin-left: 20px
}

body .min-right .count .name .fr {
	color: #888;
	font-size: 14px;
	line-height: 34px
}

body .min-right .count .name .fr label.sp {
	color: #3fab6c;
	font-size: 26px;
	margin: 0 8px;
	font-weight: 700;
	position: relative;
	top: 3px;
	cursor: default
}

body .min-right .count .name .fr i.ico {
	background-image: url(sprite.png);
	background-image: -webkit-image-set(url(sprite.png) 1x, url(sprite@2x.png) 2x);
	background-position: -216px -25px;
	width: 14px;
	height: 14px;
	display: inline-block;
	position: relative;
	top: -1px;
	margin-right: 5px
}

body .min-right .count .name .fr label {
	color: #999;
	font-size: 12px;
	cursor: pointer
}

body .min-right .count .name .fr label i {
	font-size: 12px;
	color: #f46a1f
}

body .min-right .count .name .fr a {
	color: #999
}

body .min-right .count .name .fr a:hover {
	text-decoration: none
}

body .min-right .count .cun {
	padding-top: 25px;
	padding-bottom: 5px
}

body .min-right .count .cun .fl .img {
	display: block;
	width: 209px;
	height: 209px;
	overflow: hidden;
	position: relative
}

body .min-right .count .cun .fl img {
	position: absolute;
	height: 100%;
	top: 0;
	left: 100%
}

body .min-right .count .cun .fr {
	width: 465px
}

body .min-right .count .cun .fr .c-name {
	position: relative;
	top: -3px
}

body .min-right .count .cun .fr .c-name a {
	color: #333;
	text-decoration: none
}

body .min-right .count .cun .fr .c-name a:hover span {
	color: #159fee
}

body .min-right .count .cun .fr .c-name span {
	color: #333333;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 370px;
	display: inline-block;
	font-weight: 700;
	position: relative;
	top: -1px
}

body .min-right .count .cun .fr .c-name span i {
	background: #f46a1f;
	display: inline-block;
	color: #fff;
	padding: 0 3px;
	font-size: 12px;
	margin-right: 8px;
	position: relative;
	top: -2px
}

body .min-right .count .cun .fr .c-name label {
	font-size: 12px;
	color: #999;
	float: right;
	margin-top: 8px
}

body .min-right .count .cun .fr .c-name p {
	color: #999;
	line-height: 20px;
	font-size: 12px;
	border-bottom: 1px solid #eee;
	padding-bottom: 22px
}

body .min-right .count .cun .fr .c-name p a {
	color: #159fee
}

body .min-right .count .cun .fr .c-name p a:hover {
	text-decoration: none
}

body .min-right .count .cun .fr ul {
	padding-top: 14px
}

body .min-right .count .cun .fr li {
	color: #333;
	line-height: 34px;
	height: 34px
}

body .min-right .count .cun .fr li i {
	background-image: url(sprite.png);
	background-image: -webkit-image-set(url(sprite.png) 1x, url(sprite@2x.png) 2x);
	display: block;
	background-position: -216px -61px;
	width: 5px;
	height: 5px;
	float: left;
	position: relative;
	top: 14px;
	margin-right: 5px
}

body .min-right .count .cun .fr li a {
	float: left;
	color: #333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 370px;
	display: inline-block
}

body .min-right .count .cun .fr li a:hover {
	text-decoration: none;
	color: #159fee
}

body .min-right .count .cun .fr li span {
	float: right;
	color: #999;
	font-size: 12px
}

body .min-right .hot-item {
	display: none
}

body .min-right .hot-item:first-child {
	display: block
}

body .min-right .fangan {
	overflow: hidden;
	margin-bottom: 15px
}

body .min-right .fangan a {
	position: relative;
	color: #fff;
	width: 367px;
	height: 160px;
	text-align: center;
	text-decoration: none;
	overflow: hidden
}

body .min-right .fangan a:first-child {
	float: left
}

body .min-right .fangan a:last-child {
	float: right
}

body .min-right .fangan img {
	position: absolute;
	left: 0;
	top: 0;
	width: 367px;
	height: 160px
}

body .min-right .fangan span {
	display: block;
	position: relative;
	z-index: 2
}

body .min-right .fangan .tit {
	margin-top: 53px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold
}

body .min-right .fangan .subtit {
	font-size: 16px;
	line-height: 24px
}

body .min-right .fangan .tit2 {
	margin-top: 53px;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	font-size: 16px;
	line-height: 24px
}

body .min-right .fangan .tit2:first-line {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold
}

body .min-right .agent-list .name a {
	color: #999;
	font-size: 12px;
	cursor: pointer
}

body .min-right .agent-list .name a i {
	font-size: 12px;
	color: #f46a1f
}

body .min-right .agent-list .l-box {
	padding: 20px 0;
	border-bottom: 1px dashed #e1e1e1;
	height: 128px;
	overflow: hidden
}

body .min-right .agent-list .l-box .fl img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-top: 15px
}

body .min-right .agent-list .l-box .cunn {
	width: 568px
}

body .min-right .agent-list .l-box .cunn .fl {
	width: 387px;
	margin-top: 1px
}

body .min-right .agent-list .l-box .cunn .fl a:hover {
	text-decoration: none
}

body .min-right .agent-list .l-box .cunn .fl a:hover b {
	color: #159fee
}

body .min-right .agent-list .l-box .cunn .fl .agent-mobile {
	color: #4fac6a;
	font-size: 12px;
	padding-left: 16px;
	position: relative;
	margin-left: 10px
}

body .min-right .agent-list .l-box .cunn .fl .agent-mobile i {
	position: absolute;
	left: 0;
	top: 0;
	width: 14px;
	height: 14px;
	background: url(detail/call.png)
}

body .min-right .agent-list .l-box .cunn .fl b {
	margin-top: 10px;
	color: #333;
	font-size: 16px;
	font-weight: 700;
	display: inline-block
}

body .min-right .agent-list .l-box .cunn .fl p {
	font-size: 12px;
	color: #999;
	line-height: 23px;
	margin: 5px 0
}

body .min-right .agent-list .l-box .cunn .fl .tips {
	color: #999;
	font-size: 12px
}

body .min-right .agent-list .l-box .cunn .fl .tips label {
	color: #333
}

body .min-right .agent-list .l-box .cunn .fl .tips i {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	border: 1px solid #bfbfbf;
	border-radius: 2px;
	padding: 0 8px;
	margin-right: 5px
}

body .min-right .agent-list .l-box .cunn .fr {
	width: 142px;
	font-size: 12px;
	text-align: center
}

body .min-right .agent-list .l-box .cunn .fr a.tw {
	background: #f46a1f;
	display: block;
	color: #fff;
	width: 130px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 2px;
	margin-top: 42px;
	margin-bottom: 20px
}

body .min-right .agent-list .l-box .cunn .fr a.tw:hover {
	text-decoration: none
}

body .min-right .agent-list .l-box .cunn .fr span a {
	color: #aaa
}

body .min-right .agent-list .l-box .cunn .fr span a:hover {
	text-decoration: none
}

body .min-right .hot-list .h-box {
	border-bottom: 1px dashed #e1e1e1;
	padding: 20px 0
}

body .min-right .hot-list .h-box .fl {
	width: 588px;
	line-height: 25px
}

body .min-right .hot-list .h-box .fl a {
	font-size: 16px;
	color: #333;
	font-weight: 700
}

body .min-right .hot-list .h-box .fl a:hover {
	text-decoration: none;
	color: #159fee
}

body .min-right .hot-list .h-box .fl p {
	color: #555;
	font-size: 12px
}

body .min-right .hot-list .h-box .fl span {
	display: inline-block;
	padding: 0 6px;
	height: 22px;
	background-color: #f1f1f1;
	margin-top: 10px;
	font-size: 12px;
	line-height: 22px;
	color: #9f9f9f
}

body .min-right .hot-list .h-box .fr {
	width: 75px;
	height: 60px;
	background-color: #f8f8f8;
	border-radius: 50%;
	color: #999;
	font-size: 12px;
	text-align: center;
	padding-top: 15px;
	line-height: 22px;
	margin-top: 7px
}

body .min-right .hot-list .h-box .fr i {
	display: block;
	color: #555;
	font-weight: 700;
	font-size: 18px
}

body .min-right .hot-list .h-box a {
	color: #555
}

body .min-right .hot-list .h-box a:hover {
	text-decoration: none
}

body .min-right .hot-list .last {
	border: 0;
	padding-bottom: 10px
}